# Add f_accessory function for usb gadget
CONFIG_USB_CONFIGFS_UEVENT=y
CONFIG_USB_CONFIGFS_F_ACC=y

# Disable bnep in bluetooth
CONFIG_BT_BNEP=n

# Disable some kernel debugging options
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DEBUG_FS=n
CONFIG_KGDB=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_FTRACE=n
CONFIG_SLUB_DEBUG=n
